*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Muli",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.input::placeholder {
    color: #C1C6D7;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}
